body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
}

table {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3498d8;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e2e2e2;
}

.credit {
  color: white;
  border-radius: 5px;
}

.value-3 {
  background-color: #27ae60;
}

.value-4 {
  background-color: #f39c12;
}

.value-5 {
  background-color: #d35400;
}
