nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $white-color;
  }

  ul {
    list-style: none;
    color: $white-color;
    display: flex;
    gap: 8px;

    a {
      color: $white-color;
      text-decoration: none;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
