@import "config";

.showcase-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  color: $white-color;

  img {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}
