$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space * 4px};
  }
  .my-#{$space} {
    margin: #{$space * 4px} 0;
  }

  .p-#{$space} {
    padding: #{$space * 4px};
  }

  .py-#{$space} {
    padding: #{$space * 4px} 0;
  }
}
